* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
}

.wrap {
    position: relative;
    width: 90vw;
    height: 60vw;
    max-width: 600px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/arena.png");
    background-size: cover;
    border: 2px solid white;
    border-radius: 4px;
}

.loading {
    font-size: 25px;
    font-weight: bold;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.status-wrap {
    position: absolute;
    left: 0px;
    top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.lifebar {
    position: relative;
    width: 35%;
    height: 19px;
    display: flex;
    background-color: red;
    border: 1px solid white;
    opacity: 0.9;
}

.lifebar.left {
    margin-left: 5%;
    justify-content: left;
}

.lifebar.right {
    margin-right: 5%;
    justify-content: right;
}

.player-name {
    position: absolute;
    top: 1px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
}

.lifebar.left .player-name {
    left: 4px;
}

.lifebar.right .player-name {
    right: 4px;
}

.life {
    width: 100%;
    height: 100%;
    background-color: blue;
}